{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="main">
    <div class="header-h1">
    <h1>АСТОР МЕДІКАЛ</h1>
    </div>
<div class="img_container text-justify">
    <img src="/static/images/background.jpg"  class="img-fluid"/>
    <p>У своїй роботі ми спираємося на всесвітньо визнані технології та рішення відомих медичних корпорацій.</p>
    <p>Наші фахівці надають повну підтримку щодо медичного забезпечення необхідного для діалізної терапії та служби крові у повній відповідності до міжнародних стандартів.</p>
    <p>Мета нашої компанії – надання якісного та надійного фармацевтичного обладнання, враховуючи соціальні потреби суспільства. Саме соціальний компонент робить нашу діяльність унікальною для вітчизняної фармацевтики.</p>
</div>
</div>
{% endblock %}