{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="main">
    <div class="header-h1">
    <h1>Команда</h1>
    </div>
<div class="img_container text-justify">
    <img src="/static/images/team_background.jpg"  class="img-fluid"/>
    <p>Наша команда складається з висококваліфікованих спеціалістів, які роблять все можливе задля розвитку охорони здоров’я та добробуту українців.</p>
    <p>Командна робота - гарантія досягнення нашої мети щодо покращення якості життя людей. </p>
</div>
</div>
{% endblock %}